html {
  font-family: "Roboto";
}
.popup-content{
  border-radius:5px;
  padding: 20px;
}

.error-list{
  font-size: 14px;
  color: red;
}
.modal{
  padding: 10px;
}
.activity{
  padding: 5px 15px;
  font-family: "Roboto";
}
.activity-email{
  color: #333;
  margin-bottom: 5px;
}
.activity-time{
  color: #7c7c7c;
}